/** {
    box-sizing: border-box;
}

[class*="col-"]{
    float: left;
    padding: 15px;
}

//mobile
[class*="col-"] {
    width: 100%;
}

//tablet
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

//laptop
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}*/

.dropbtn:hover {
    text-decoration: underline;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab ul li {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab ul li:hover {
    background-color: #ddd;
}

.tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#navright{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#navright a {
    color: #000000;
}

#navright div {
    padding-bottom: 5%;
}

#links li a {
    color:red;
}

#bottombar li a{
    display:inline;
    margin-right: 5%;
}

.leftbox button {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color:red;
}

.leftbox button:hover, .leftbox button:focus {
    text-decoration: underline;
}

.compensation #top{
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    overflow: hidden;
}

.book {
    border: 1px solid #ccc;
    border-radius: 5px;
}

a:-webkit-any-link{
    text-decoration:none;    /* do not underline links */
    color: black;          /* give links a default color */
}

.wrapper {
    border: 0.1em solid #ccc;   /* wrap the calendar inside a box */
    width: 100%;                /* define a width for the box */
    height: 100%;               /* define a height for the box */
    box-shadow: 0.1em 0.2em 0.8em #ccc; /* box shadow for better view */

}

.header {
    height: 20%;                    /* define a height for the header */
    background-color: #3f51b5;      /* give the header a background color */
    color: white;                   /* give the header a text color */
    text-align: center;             /* center the text inside the header */
}

.calendar-body .col-xs-1 {
    width: 13%;                   /* give each column a fixed width */
    margin-left: 0.2em;             /* have some space between columnd */
    text-align: center;             /* align text in the center */
}

.header p {
    padding-top: 1.2em;             /* vertical centering */
    text-transform: uppercase;      /* all caps text  */
}

.header span {
    padding: 1.3em;         /* vertical and horizontal centering icons */
}

.inactive {                 /* inactive dates get a light gray text color */
    color: #ccc;
}

.weekdays {
    padding: 1em;           /* giving weekdays some space around */
}

.dates {
    padding: 0.2em 1em 0.2em 1em;   /* giving dates some space  */
}

.line {                             /* a gray line separator  */
    height: 0.1em;
    border: 0.1em solid #EEEEEE;
}

.current-date {                 /* styling the current date section  */
    text-transform: uppercase;
    text-align: center;
    padding: 0.7em;
}

.calendar-body .row .col-xs-1 p:hover {
    color: #4778a6;         /* hover state on all dates  */
}

.bookHome {
    border-radius: 5px;
    border-color: #0f6674;
    border-width: 1px;
    background-color: #d6d8db;
}

.bookHome h3, form{
    margin-left: 3%;
    margin-top: 4%;
}

.bookHome form label{
    text-align: right;
}

.bookOther {
    border-radius: 5px;
    border-color: #0f6674;
    border-width: 1px;
    background-color: #d6d8db;
}

.bookOther h4 {
    margin-left: 2%;
    margin-bottom: 1%;
}

.bookOther form label{
    display: inline;
    text-align: right;
    margin-right: 1%
}

#from, #to {
    display: inline;
    float:right;
    margin-right: 25%;
    width: 60%;
}

#oneway, #return, #open {
    margin-right: 5%;
    margin-left: 2%;
}

#fromO, #toO {
    display: inline;
    margin-right: 3%;
    width: 10%;
}

#onewayO, #returnO, #openO {
    margin-right: 2%;
    margin-left: 2%;
    display: inline;
}

.ticketType {
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #f1f8e9;
    margin-right: 3%;
}

.ticketTypeO {
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #f1f8e9;
    margin-right: 2%;
    width: 30%;
}

.rowTwo {
    margin-top: 1%;
}

.rowTwo div, label, input{
    display: inline;
}

#outDate, #outTime, #returnDate, #returnTime, #passengers, #childPassenger {
    display: inline;
    float:right;
    margin-right: 25%;
    width: 47%;
}

#passengersO {
    display: inline;
    margin-right: 2%;
    width: 10%;
}

#submitBook {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 25%;
    width: 40%;
    float: left;
    margin-left: 30%;
    background-color: red;
    color: white;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: none;
    text-shadow: none;
}

#submitBookO {
    margin-bottom: 1%;
    height: 5%;
    width: 10%;
    float: right;
    margin-right: 5%;
    background-color: red;
    color: white;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: none;
    text-shadow: none;
    display:inline;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #5a6268 1px solid;
}

.dropdown-content a:hover {
    text-decoration: none;
    color: #ce0012;
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn {
    color: #5a6268;
    border: none;
}

.dropbtn:hover {
    text-decoration: none;
    color: #ce0012;
    border:none;
}

.nav-item {
    align-items: center;
}

.navbar-nav {
    align-self: center;
}

.service a, .live a, .breadcrumbs a , .problems a{
    text-decoration: none;
    color: red;
}

.service a:hover, .service a:focus, .live a:hover, .live a:focus, .breadcrumbs a:hover,
.breadcrumbs a:focus, .problems a:hover, .problems a:focus{
    color: red;
    text-decoration: underline;
}

.offers {
    display: inline-block;
    width:20%;
    height:60%;
    background-color: white;
    margin-left:2.5%;
    margin-right: 2%;
    margin-top: 5%;
}

.offers a {
    text-decoration: none;
    color: black;
    display: block;
}

.offers a:hover, .offers a:focus{
    text-decoration: underline;
    color: black;
}

.offers img {
    width: 100%;
    height: 80%;
    display: block;
}


.problemForm {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    text-align: center;
}

.problemForm form, p, button{
    text-align: left;
    display: block;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

legend span {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 2px;
}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}