.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab ul li {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab ul li:hover {
    background-color: #ddd;
}

.tab-content {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#navright{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#navright a {
    color: #000000;
}

#navright div {
    padding-bottom: 5%;
}

#links li a {
    color:red;
}

#bottombar li a{
    display:inline;
    margin-right: 5%;
}

#leftbox button {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#leftbox button a {
    color: red;
}

.compensation #top{
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    overflow: hidden;
}

.book {
    border: 1px solid #ccc;
    border-radius: 5px;
}

a:-webkit-any-link{
    text-decoration:none;    /* do not underline links */
    color: black;          /* give links a default color */
}

.wrapper {
    border: 0.1em solid #ccc;   /* wrap the calendar inside a box */
    width: 100%;                /* define a width for the box */
    height: 100%;               /* define a height for the box */
    box-shadow: 0.1em 0.2em 0.8em #ccc; /* box shadow for better view */

}

.header {
    height: 20%;                    /* define a height for the header */
    background-color: #3f51b5;      /* give the header a background color */
    color: white;                   /* give the header a text color */
    text-align: center;             /* center the text inside the header */
}

.calendar-body .col-xs-1 {
    width: 13%;                   /* give each column a fixed width */
    margin-left: 0.2em;             /* have some space between columnd */
    text-align: center;             /* align text in the center */
}

.header p {
    padding-top: 1.2em;             /* vertical centering */
    text-transform: uppercase;      /* all caps text  */
}

.header span {
    padding: 1.3em;         /* vertical and horizontal centering icons */
}

.inactive {                 /* inactive dates get a light gray text color */
    color: #ccc;
}

.weekdays {
    padding: 1em;           /* giving weekdays some space around */
}

.dates {
    padding: 0.2em 1em 0.2em 1em;   /* giving dates some space  */
}

.line {                             /* a gray line separator  */
    height: 0.1em;
    border: 0.1em solid #EEEEEE;
}

.current-date {                 /* styling the current date section  */
    text-transform: uppercase;
    text-align: center;
    padding: 0.7em;
}

.calendar-body .row .col-xs-1 p:hover {
    color: #4778a6;         /* hover state on all dates  */
}

.bookHome {
    border-radius: 5px;
    border-color: #0f6674;
    border-width: 1px;
    background-color: #d6d8db;
}

.bookHome h3, form{
    margin-left: 3%;
    margin-top: 4%;
}

.bookHome form label{
    text-align: right;
}

#from, #to {
    display: inline;
    float:right;
    margin-right: 25%;
    width: 60%;
}

#oneway, #return, #open {
    margin-right: 5%;
    margin-left: 2%;
}

.ticketType {
    margin-top: 3%;
    margin-bottom: 2%;
    background-color: #f1f8e9;
    margin-right: 3%;
}

#outDate, #outTime, #returnDate, #returnTime, #passengers {
    display: inline;
    float:right;
    margin-right: 25%;
    width: 47%;
}

#submitBook {
    margin-top: 10%;
    margin-bottom: 5%;
    height: 25%;
    width: 40%;
    float: left;
    margin-left: 30%;
    background-color: red;
    color: white;
    border-color: grey;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: none;
    text-shadow: none;
}

.dropbtn {
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: #5a6268 1px solid;
}

.dropdown-content a:hover {
    text-decoration: none;
    color: #ce0012;
}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn a {
    color: #5a6268;
}

.dropbtn a:hover {
    text-decoration: none;
    color: black;
}

.nav-item {
    align-items: center;
}

.navbar-nav {
    align-self: center;
}

