.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#navright{
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

#navright a {
    color: #000000;
}

#navright div {
    padding-bottom: 5%;
}

#links li a {
    color:red;
}

#bottombar li a{
    display:inline;
    margin-right: 5%;
}

#leftbox button {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#leftbox button a {
    color: red;
}
